<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Student Data</h1>
    <form action="/form" method="post" enctype="multipart/form-data">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name"><br><br>
        <label for="branch">Branch: </label>
        <input type="text" name="branch" id="branch"><br><br>
        <label for="">Division: </label>
        <input type="text" name="div" id="div"><br><br>
        <label for="rollno">Roll no: </label>
        <input type="number" name="rollno" id="rollno"><br><br>
        <label for="regid">Register ID: </label>
        <input type="number" name="regid" id="regid"><br><br>
        <label for="img">Image Upload</label>
        <input type="file" name="img" id="img"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
<button><a href="/">Back</a></button>

</html>