<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Face Attendance </h1>
    <div>
        <img src="{{ url_for('video') }}" width="50%" id="webcam">
    </div>
    <button><a href="/data">Form</a></button>
    <button><a href="/display_attendance">Display Attendance</a></button>
</body>

</html>